### Misc ###
.DS_Store

### IDE ###
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Packaged Files ###
lib
.eslintcache

### Logs ###
logs
*.log
